/*!
**  Author: Kale Chao | FakeCityMan
**  Blog: kalechao87@github.io
**/
@import "normalize-reset", "compass/css3";

/*
 * Remove the gap between images and the bottom of their containers
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

img {
    vertical-align: middle;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
* Hide visually and from screenreaders, but maintain layout
*/

.invisible {
   visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: http://nicolasgallagher.com/micro-clearfix-hack/
 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
 Author's custom styles
 ========================================================================== */
 *,
 *:after,
 *:before {
    @include box-sizing(border-box);
    // -webkit-user-select:none;
    // -webkit-touch-callout:none;
 }

html, body {
    overflow: hidden;
    height: 100%;
}

/* ==========================================================================
 定义变量
 ========================================================================== */
$main-bgcolor: #000;
$main-color: #fff;
$main-red: #c50000;
$main-green: #83ac14;
$main-brown: #774c29;

/* ==========================================================================
定义变量结束
========================================================================== */

body {
    font-family: 'Avenir Next', 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: $main-bgcolor;
    color: $main-bgcolor;
    overflow: hidden;
    font: {
        size: 24px;
    }
}

.ab-element {
    position: absolute;
}

.block-img {
    display: block;
    max-width: 100%;
}

.ab-img {
    position: absolute;
}

.ab-block-img {
    display: block;
    position: absolute;
    max-width: 100%;
}

.hvcenter {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate3d(-50%, -50%, 0));
}

.hcenter {
    position: absolute;
    left: 50%;
    @include transform(translate3d(-50%, 0, 0));
}

.vcenter {
    position: absolute;
    top: 50%;
    @include transform(translate3d(0, -50%, 0));
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include background-size(cover);
    overflow: hidden;
}

.scrolly-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
}

// cover ==================================================================
#cover-bg {
    $cover-bg: '../images/cover-bg.jpg';
    width: image-width($cover-bg);
    height: image-height($cover-bg);
    background-image: url($cover-bg);
}

#main-theme {
    top: 119px;
    left: 32px;
    $main-theme: '../images/main-theme.png';
    width: image-width($main-theme);
    height: image-height($main-theme);
    background-image: url($main-theme);
}

#woman {
    top: 446px;
    left: 145px;
    $woman: '../images/woman.png';
    width: image-width($woman);
    height: image-height($woman);
    background-image: url($woman);
}

#flash {
    top: 589px;
    left: 285px;
    $flash: '../images/flash.png';
    width: image-width($flash);
    height: image-height($flash);
    background-image: url($flash);
}

#xiaoao {
    top: 640px;
    left: 21px;
    $xiaoao: '../images/xiaoao.png';
    width: image-width($xiaoao);
    height: image-height($xiaoao);
    background-image: url($xiaoao);
}

#cover-start {
    top: 788px;
    left: 231px;
    $cover-start: '../images/cover-start.png';
    width: image-width($cover-start);
    height: image-height($cover-start);
    background-image: url($cover-start);
}

#rank-btn {
    top: 38px;
    left: 37px;
    $rank-btn: '../images/rank-btn.png';
    width: image-width($rank-btn);
    height: image-height($rank-btn);
    background-image: url($rank-btn);
}

// rank start=============================================
#rank-container, #no-face-container {
    background: rgba(0, 0, 0, 0.8);
}

#rank {
    top: 110px;
    left: 76px;
    $rank: '../images/rank-bg.png';
    width: image-width($rank);
    height: image-height($rank);
    background-image: url($rank);
}

#ranklist {
    position: absolute;
    top: 370px;
    left: 6px;
    width: 478px;
    height: 360px;
    margin: 0;
    padding: 24px 0 0 0;
    // background: rgba(255, 0, 0, 0.4);
    overflow-x: hidden;
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
}

.rank-item {
    position: relative;
    width: 100%;
    height: 34px;
    line-height: 34px;
    // background: rgba(0, 0, 0, 0.3);
    list: {
        style: none;
    }
    font: {
        size: 21px;
    }
    text: {
        align: center;
    }
}

.nick-name {
    position: absolute;
    top: 0;
    left: 0;
    width: 184px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.rank-gold-num {
    position: absolute;
    top: 0;
    left: 194px;
    width: 116px;
}

.rank-order-num {
    position: absolute;
    top: 0;
    left: 356px;
    width: 116px;
    height: 34px;
}

#top-one {
    position: absolute;
    bottom: 2px;
    left: 50%;
    $top-one: '../images/top-one.png';
    width: image-width($top-one);
    height: image-height($top-one);
    background-image: url($top-one);
    margin: {
        left: -(image-width($top-one)/2);
    }
}

#close-rank {
    top: 106px;
    right: 0;
    $close-rank: '../images/close-rank.png';
    width: image-width($close-rank);
    height: image-height($close-rank);
    background-image: url($close-rank);
}

#rule-container {
    background-image: url('../images/universal-bg.jpg');
}

#rule {
    top: 62px;
    left: 75px;
    margin: {
        bottom: 60px;
    }
    $rule: '../images/rule.png';
    width: image-width($rule);
    height: image-height($rule);
    background-image: url($rule);
}

#rule-start {
    top: 2085px;
    left: 125px;
    $rule-start: '../images/rule-start.png';
    width: image-width($rule-start);
    height: image-height($rule-start);
    background-image: url($rule-start);
}

#no-face {
    top: 356px;
    left: 75px;
    $no-face: '../images/no-face.png';
    width: image-width($no-face);
    height: image-height($no-face);
    background-image: url($no-face);
}

#no-face-confirm {
    top: 163px;
    left: 152px;
    $confirm: '../images/confirm.png';
    width: image-width($confirm);
    height: image-height($confirm);
    background-image: url($confirm);
}

// game start==============================================
#game-bg {
    $game-bg: '../images/game-bg.jpg';
    width: image-width($game-bg);
    height: image-height($game-bg);
    background-image: url($game-bg);
}

#collection {
    top: 11px;
    left: 33px;
    $collection: '../images/collection.png';
    width: image-width($collection);
    height: image-height($collection);
    background-image: url($collection);
}

.collection-gold {
    position: absolute;
    top: 93px;
    $gold: '../images/gold.png';
    width: image-width($gold);
    height: image-height($gold);
    background-image: url($gold);
}

#gold1 {
    left: 19px;
}

#gold2 {
    left: 84px;
}

#gold3 {
    left: 147px;
}

#gold4 {
    left: 212px;
}

#gold5 {
    left: 276px;
}

#collection-sum {
    top: 83px;
    left: 405px;
    $sum: '../images/sum.png';
    width: image-width($sum);
    height: image-height($sum);
    background-image: url($sum);
}

#collection-num {
    top: 3px;
    left: 101px;
    width: 92px;
    height: 84px;
    color: $main-brown;
    font: {
        size: 48px;
    }
    text: {
        align: center;
    }
    line-height: 84px;
}

$dialouge: '../images/dialouge-bg.png';
.dialouge {
    position: absolute;
    top: 855px;
    left: 41px;
    width: image-width($dialouge);
    height: image-height($dialouge);
    background-image: url($dialouge);
}

.front-dialouge {
    position: absolute;
    top: 855px;
    left: 41px;
    width: image-width($dialouge);
    height: image-height($dialouge);
    // background: rgba(255, 0, 0, 0.4);
}

.ok-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    $ok-btn: '../images/ok-btn.png';
    width: image-width($ok-btn);
    height: image-height($ok-btn);
    background-image: url($ok-btn);
}

.dialouge-content {
    position: absolute;
    top: 41px;
    left: 38px;
    width: 376px;
    height: 108px;
    font: {
        size: 28px;
    }
    color: #ffffff;
    @include text-shadow(2px 2px 1px rgba(0, 0, 0, 0.6));
}

#gift-box {
    top: 630px;
    left: 203px;
    $gift-box: '../images/gift-box.png';
    width: image-width($gift-box);
    height: image-height($gift-box);
    background-image: url($gift-box);
}

#rank-container, #rule-container, #no-face-container, #gift-container {
    visibility: hidden;
}
