/*!
**  Author: Kale Chao | FakeCityMan
**  Blog: kalechao87@github.io
**/
@import "normalize-reset", "compass/css3";

/*
 * Remove the gap between images and the bottom of their containers
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

img {
    vertical-align: middle;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
* Hide visually and from screenreaders, but maintain layout
*/

.invisible {
   visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: http://nicolasgallagher.com/micro-clearfix-hack/
 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
 Author's custom styles
 ========================================================================== */
 *,
 *:after,
 *:before {
    @include box-sizing(border-box);
    // -webkit-user-select:none;
    // -webkit-touch-callout:none;
 }

html, body {
    overflow: hidden;
    height: 100%;
}

/* ==========================================================================
 定义变量
 ========================================================================== */
$main-bgcolor: #000;
$main-color: #fff;
$main-red: #c50000;
$main-green: #80b700;
$main-brown: #774c29;

/* ==========================================================================
定义变量结束
========================================================================== */

body {
    font-family: 'Avenir Next', 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: $main-green;
    color: $main-color;
    overflow: hidden;
    font: {
        size: 24px;
    }
}

.ab-element {
    position: absolute;
}

.block-img {
    display: block;
    max-width: 100%;
}

.ab-img {
    position: absolute;
}

.ab-block-img {
    display: block;
    position: absolute;
    max-width: 100%;
}

.hvcenter {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate3d(-50%, -50%, 0));
}

.hcenter {
    position: absolute;
    left: 50%;
    @include transform(translate3d(-50%, 0, 0));
}

.vcenter {
    position: absolute;
    top: 50%;
    @include transform(translate3d(0, -50%, 0));
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include background-size(cover);
    overflow: hidden;
}

.container1043 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1043px;
    @include background-size(cover);
    overflow: hidden;
}

.scrolly-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
}

#loading-num {
    position: relative;
    top: 50%;
    width: 100%;
    text: {
        align: center;
    }
    font: {
        size: 56px
    }
    z-index: 100;
}

// cover ==================================================================
#cover-bg {
    $cover-bg: '../images/cover-bg.jpg';
    width: image-width($cover-bg);
    height: image-height($cover-bg);
    // background-image: url($cover-bg);
}

#main-theme {
    top: 119px;
    left: 32px;
    $main-theme: '../images/main-theme.png';
    width: image-width($main-theme);
    height: image-height($main-theme);
    // background-image: url($main-theme);
}

#woman {
    top: 446px;
    left: 145px;
    $woman: '../images/woman.png';
    width: image-width($woman);
    height: image-height($woman);
    // background-image: url($woman);
}

#flash {
    top: 589px;
    left: 285px;
    $flash: '../images/flash.png';
    width: image-width($flash);
    height: image-height($flash);
    // background-image: url($flash);
}

#xiaoao {
    top: 640px;
    left: 21px;
    $xiaoao: '../images/xiaoao.png';
    width: image-width($xiaoao);
    height: image-height($xiaoao);
    // background-image: url($xiaoao);
}

#cover-start {
    top: 788px;
    left: 231px;
    $cover-start: '../images/cover-start.png';
    width: image-width($cover-start);
    height: image-height($cover-start);
    // background-image: url($cover-start);
}

#rank-btn {
    top: 38px;
    left: 37px;
    $rank-btn: '../images/rank-btn.png';
    width: image-width($rank-btn);
    height: image-height($rank-btn);
    // background-image: url($rank-btn);
}

// rank start=============================================
#rank-container, #no-face-container {
    background: rgba(0, 0, 0, 0.8);
}

#rank {
    top: 110px;
    left: 76px;
    $rank: '../images/rank-bg.png';
    width: image-width($rank);
    height: image-height($rank);
    // background-image: url($rank);
}

#ranklist {
    position: absolute;
    top: 370px;
    left: 6px;
    width: 478px;
    height: 360px;
    margin: 0;
    padding: 24px 0 0 0;
    // background: rgba(255, 0, 0, 0.4);
    overflow-x: hidden;
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
}

.rank-item {
    position: relative;
    width: 100%;
    height: 34px;
    line-height: 34px;
    // background: rgba(0, 0, 0, 0.3);
    list: {
        style: none;
    }
    font: {
        size: 21px;
    }
    text: {
        align: center;
    }
}

.nick-name {
    position: absolute;
    top: 0;
    left: 0;
    width: 184px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.rank-gold-num {
    position: absolute;
    top: 0;
    left: 194px;
    width: 116px;
}

.rank-order-num {
    position: absolute;
    top: 0;
    left: 356px;
    width: 116px;
    height: 34px;
}

#top-one {
    position: absolute;
    bottom: 2px;
    left: 50%;
    $top-one: '../images/top-one.png';
    width: image-width($top-one);
    height: image-height($top-one);
    // background-image: url($top-one);
    margin: {
        left: -(image-width($top-one)/2);
    }
}

#close-rank {
    top: 106px;
    right: 0;
}

.close-btn {
    position: absolute;
    $close-btn: '../images/close-btn.png';
    width: image-width($close-btn);
    height: image-height($close-btn);
    // background-image: url($close-btn);
}

#rule-container {
    // background-image: url('../images/universal-bg.jpg');
}

#rule {
    top: 62px;
    left: 75px;
    margin: {
        bottom: 60px;
    }
    $rule: '../images/rule.png';
    width: image-width($rule);
    height: image-height($rule);
    // background-image: url($rule);
}

#rule-start {
    top: 2085px;
    left: 125px;
    $rule-start: '../images/rule-start.png';
    width: image-width($rule-start);
    height: image-height($rule-start);
    // background-image: url($rule-start);
}

#no-face {
    top: 356px;
    left: 75px;
    $no-face: '../images/no-face.png';
    width: image-width($no-face);
    height: image-height($no-face);
    // background-image: url($no-face);
}

#no-face-confirm {
    top: 163px;
    left: 152px;
    $confirm: '../images/confirm.png';
    width: image-width($confirm);
    height: image-height($confirm);
    // background-image: url($confirm);
}

// game start==============================================
#game-container {
    background: #dbae00;
}

// #game-bg {
//     $game-bg: '../images/game-bg.jpg';
//     width: image-width($game-bg);
//     height: image-height($game-bg);
//     background-image: url($game-bg);
// }

#uploaded-pic {
    display: block;
    position: absolute;
    top: 209px;
    left: 126px;
    width: 405px;
    height: 512px;
    max-width: 100%
}

#photo-mask {
    $photo-mask: '../images/photo-mask.png';
    width: image-width($photo-mask);
    height: image-height($photo-mask);
    // background-image: url($photo-mask);
}

#collection {
    top: 11px;
    left: 33px;
    $collection: '../images/collection.png';
    width: image-width($collection);
    height: image-height($collection);
    // background-image: url($collection);
}

.collection-gold {
    position: absolute;
    top: 93px;
    $gold: '../images/gold.png';
    width: image-width($gold);
    height: image-height($gold);
    // background-image: url($gold);
}

#gold1 {
    left: 19px;
}

#gold2 {
    left: 84px;
}

#gold3 {
    left: 147px;
}

#gold4 {
    left: 212px;
}

#gold5 {
    left: 276px;
}

#collection-sum {
    top: 83px;
    left: 405px;
    $sum: '../images/sum.png';
    width: image-width($sum);
    height: image-height($sum);
    // background-image: url($sum);
}

#collection-num {
    top: 3px;
    left: 101px;
    width: 92px;
    height: 84px;
    color: $main-brown;
    font: {
        size: 48px;
    }
    text: {
        align: center;
    }
    line-height: 84px;
}

$dialouge: '../images/dialouge-bg.png';
.dialouge {
    position: absolute;
    top: 855px;
    left: 41px;
    width: image-width($dialouge);
    height: image-height($dialouge);
    // background-image: url($dialouge);
}

.front-dialouge {
    position: absolute;
    top: 855px;
    left: 41px;
    width: image-width($dialouge);
    height: image-height($dialouge);
    // background: rgba(255, 0, 0, 0.4);
}

.ok-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    $ok-btn: '../images/ok-btn.png';
    width: image-width($ok-btn);
    height: image-height($ok-btn);
    // background-image: url($ok-btn);
}

.dialouge-content {
    position: absolute;
    top: 41px;
    left: 38px;
    width: 376px;
    height: 108px;
    font: {
        size: 28px;
    }
    color: #ffffff;
    @include text-shadow(2px 2px 1px rgba(0, 0, 0, 0.6));
}

#gift-box {
    top: 630px;
    left: 203px;
    $gift-box: '../images/gift-box.png';
    width: image-width($gift-box);
    height: image-height($gift-box);
    // background-image: url($gift-box);
}

.light {
    position: absolute;
    $light: '../images/light.png';
    width: image-width($light);
    height: image-height($light);
    // background-image: url($light);
}

#gift-light, #gold-light {
    top: 109px;
}

.trans-container {
    background: rgba(0, 0, 0, 0.8);
}

#limit-alert {
    top: 373px;
    left: 79px;
    width: 466px;
    height: 264px;
    border: 3px solid #ffffff;
    @include border-radius(30px);
    @include background-image(linear-gradient(#0f9839, #007539));
    @include box-shadow(rgba(0, 0, 0, 0.72) 8px 8px 16px);
}

#close-limit-alert {
    top: -15px;
    right: -9px;
}

#limit-content {
    top: 88px;
    width: 100%;
    font: {
        size: 28px;
    }
    padding: {
        left: 80px;
    }
}

#go-lottery-alert {
    top: 252px;
    left: 79px;
    width: 466px;
    height: 507px;
    border: 3px solid #ffffff;
    @include border-radius(30px);
    @include background-image(linear-gradient(#0f9839, #007539));
    @include box-shadow(rgba(0, 0, 0, 0.72) 8px 8px 16px);
}

#smile {
    top: 48px;
    left: 138px;
    $smile: '../images/smile.png';
    width: image-width($smile);
    height: image-height($smile);
    // background-image: url($smile);
}

#go-lottery-content {
    top: 280px;
    width: 100%;
    padding: {
        left: 90px;
    }
    font: {
        size: 28px;
    }
}

#go-lottery {
    top: 367px;
    left: 98px;
    $go-lottery: '../images/go-lottery.png';
    width: image-width($go-lottery);
    height: image-height($go-lottery);
    // background-image: url($go-lottery);
}

#gift-info {
    top: 180px;
    left: 43px;
    $gift-info: '../images/gift-info.png';
    width: image-width($gift-info);
    height: image-height($gift-info);
    // background-image: url($gift-info);
}

#gift-item-content {
    top: 200px;
    left: 227px;
    width: 250px;
    font: {
        size: 26px;
        weight: 700;
    }
}

#gift-confirm {
    top: 520px;
    left: 166px;
    $gift-confirm: '../images/gift-confirm.png';
    width: image-width($gift-confirm);
    height: image-height($gift-confirm);
    // background-image: url($gift-confirm);
}

.input-elements {
    position: absolute;
    left: 150px;
    width: 334px;
    height: 48px;
    line-height: 48px;
    padding: {
        left: 12px;
    }
    color: #000000;
    border: none;
    // background: rgba(0, 0, 0, 0.3);
}

#name {
    top: 300px;
}

#phone {
    top: 363px;
}

#address {
    top: 426px;
}

#close-gift-info {
    top: 61px;
    right: -21px;
}

#yaling {
    top: 576px;
    left: 0;
    $yaling: '../images/yaling.png';
    width: image-width($yaling);
    height: image-height($yaling);
    // background-image: url($yaling);
}

#neck-gold {
    top: 679px;
    left: 190px;
    $neck-gold: '../images/neck-gold.png';
    width: image-width($neck-gold);
    height: image-height($neck-gold);
    // background-image: url($neck-gold);
}

#glass {
    top: 0;
    left: 0;
    $glass: '../images/glass.png';
    width: image-width($glass);
    height: image-height($glass);
    // background-image: url($glass);
}

#bomb-dialouge-content, #mic-dialouge-content {
    top: 20px;
}

/*=================bomb start=======================*/
// bomb sprite 设置
$bomb-layout:smart;
$bomb-spacing:10px;
$bomb-sprite-dimensions: true;
@import "bomb/*.png";
@include  all-bomb-sprites;

#bomb-blow-container {
    top: 550px;
    left: 237px;
    width: 271px;
    height: 248px;
}

#bomb {
    top: 85px;
    left: 0;
}

#bomb-blow1 {
    top: 54px;
    left: 145px;
}

#bomb-blow2 {
    top: 47px;
    left: 113px;
}

#bomb-blow3 {
    top: 14px;
    left: 84px;
}

#bomb-blow4 {
    top: 0px;
    left: 84px;
}

#bomb-blow5 {
    top: 14px;
    left: 79px;
}

#bomb-blow6 {
    top: 42px;
    left: 95px;
}

#bomb-blow7 {
    top: 54px;
    left: 103px;
}

#bomb-blow8 {
    top: 57px;
    left: 108px;
}

#balls-container {
    top: 542px;
    left: 37px;
    width: 561px;
    height: 501px;
}

#hand {
    top: 238px;
    left: 107px;
    $hand: '../images/hand.png';
    width: image-width($hand);
    height: image-height($hand);
    // background-image: url($hand);
}

#basketball {
    top: 0;
    left: 0;
    $basketball: '../images/basketball.png';
    width: image-width($basketball);
    height: image-height($basketball);
    // background-image: url($basketball);
}

#football {
    top: 0;
    right: 0;
    $football: '../images/football.png';
    width: image-width($football);
    height: image-height($football);
    // background-image: url($football);
}

#cheerl {
    top: 567px;
    left: -22px;
    $cheerl: '../images/cheerl.png';
    width: image-width($cheerl);
    height: image-height($cheerl);
    // background-image: url($cheerl);
}

#cheerr {
    top: 573px;
    left: 347px;
    $cheerr: '../images/cheerr.png';
    width: image-width($cheerr);
    height: image-height($cheerr);
    // background-image: url($cheerr);
}

#mics {
    top: 586px;
    left: 0;
    width: 640px;
    height: 457px;
}

#mic1 {
    top: 6px;
    left: 0;
    $mic1: '../images/mic1.png';
    width: image-width($mic1);
    height: image-height($mic1);
    // background-image: url($mic1);
}

#mic2 {
    top: 0px;
    left: 6px;
    $mic2: '../images/mic2.png';
    width: image-width($mic2);
    height: image-height($mic2);
    // background-image: url($mic2);
}

#mic3 {
    top: 56px;
    left: 265px;
    $mic3: '../images/mic3.png';
    width: image-width($mic3);
    height: image-height($mic3);
    // background-image: url($mic3);
}

#mic4 {
    top: 8px;
    left: 392px;
    $mic4: '../images/mic4.png';
    width: image-width($mic4);
    height: image-height($mic4);
    // background-image: url($mic4);
}

#mic5 {
    top: 20px;
    left: 457px;
    $mic5: '../images/mic5.png';
    width: image-width($mic5);
    height: image-height($mic5);
    // background-image: url($mic5);
}

#clouds {
    top: 561px;
    left: 96px;
    width: 424px;
    height: 482px;
}

/*=================cloud start=======================*/
// cloud sprite 设置
$cloud-layout:smart;
$cloud-spacing:10px;
$cloud-sprite-dimensions: true;
@import "cloud/*.png";
@include  all-cloud-sprites;

#cloud1 {
    top: 123px;
    left: 122px;
}

#cloud2 {
    top: 46px;
    left: 66px;
}

#cloud3 {
    top: 0;
    left: 21px;
}

#cloud4 {
    top: 1px;
    left: 0;
}

#cloud5 {
    top: 35px;
    left: 32px;
}

#cloud6 {
    top: 44px;
    left: 50px;
}

#cloud7 {
    top: 47px;
    left: 32px;
}

#cloud8 {
    top: 55px;
    left: 37px;
}

#cover, #rank-container, #rule-container, #no-face-container, #gift-container, #limit-container, #go-lottery-container, #gift-info-container, #yaling-container, #get-gold-container, #bomb-container, #balls-all-container, #cheer-container, #mic-container, #game-container {
    // visibility: hidden;
    display: none;
}

.collection-gold, .bomb-blow, .cloud {
    visibility: hidden;
}
