/*!
**  Author: Kale Chao | FakeCityMan
**  Blog: kalechao87@github.io
**/
@import "normalize-reset", "compass/css3";

/*
 * Remove the gap between images and the bottom of their containers
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

img {
    vertical-align: middle;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
* Hide visually and from screenreaders, but maintain layout
*/

.invisible {
   visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: http://nicolasgallagher.com/micro-clearfix-hack/
 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
 Author's custom styles
 ========================================================================== */
 *,
 *:after,
 *:before {
    @include box-sizing(border-box);
    // -webkit-user-select:none;
    // -webkit-touch-callout:none;
 }

html, body {
    overflow: hidden;
    height: 100%;
}

/* ==========================================================================
 定义变量
 ========================================================================== */
$main-bgcolor: #000;
$main-color: #fff;
$main-red: #c50000;
$main-green: #83ac14;

/* ==========================================================================
定义变量结束
========================================================================== */

body {
    font-family: 'Avenir Next', 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: $main-bgcolor;
    color: $main-bgcolor;
    overflow: hidden;
    font: {
        size: 24px;
    }
}

.ab-element {
    position: absolute;
}

.block-img {
    display: block;
    max-width: 100%;
}

.ab-img {
    position: absolute;
}

.ab-block-img {
    display: block;
    position: absolute;
    max-width: 100%;
}

.hvcenter {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate3d(-50%, -50%, 0));
}

.hcenter {
    position: absolute;
    left: 50%;
    @include transform(translate3d(-50%, 0, 0));
}

.vcenter {
    position: absolute;
    top: 50%;
    @include transform(translate3d(0, -50%, 0));
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include background-size(cover);
    overflow: hidden;
}

.scrolly-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
}

// cover ==================================================================
#cover-bg {
    $cover-bg: '../images/cover-bg.jpg';
    width: image-width($cover-bg);
    height: image-height($cover-bg);
    background-image: url($cover-bg);
}

#main-theme {
    top: 119px;
    left: 32px;
    $main-theme: '../images/main-theme.png';
    width: image-width($main-theme);
    height: image-height($main-theme);
    background-image: url($main-theme);
}

#woman {
    top: 446px;
    left: 145px;
    $woman: '../images/woman.png';
    width: image-width($woman);
    height: image-height($woman);
    background-image: url($woman);
}

#flash {
    top: 589px;
    left: 285px;
    $flash: '../images/flash.png';
    width: image-width($flash);
    height: image-height($flash);
    background-image: url($flash);
}

#xiaoao {
    top: 640px;
    left: 21px;
    $xiaoao: '../images/xiaoao.png';
    width: image-width($xiaoao);
    height: image-height($xiaoao);
    background-image: url($xiaoao);
}

#cover-start {
    top: 788px;
    left: 231px;
    $cover-start: '../images/cover-start.png';
    width: image-width($cover-start);
    height: image-height($cover-start);
    background-image: url($cover-start);
}

#rank-btn {
    top: 38px;
    left: 37px;
    $rank-btn: '../images/rank-btn.png';
    width: image-width($rank-btn);
    height: image-height($rank-btn);
    background-image: url($rank-btn);
}
